.root{
	-fx-background-color:#212121; /* NERO */
	-fx-font-size:13pt;
}

.button {
    -fx-background-color: #e8eaed;   /* GRIGIO */
    -fx-text-fill: black;        /* colore del testo */
    -fx-font-size: 1em;         /* dimensione testo */
}

.title{
	-fx-font-size:2.2em;
	-fx-text-fill:white;
}

.statsLabel{
	-fx-font-size:1.2em;
	-fx-text-fill:white;
}