.root{
	/* ROOT */
	-fx-background-color:-dark-color; 
	-fx-font-size:13pt;
	
	/* VAR */
	-grey-color: #353535;
	-dark-color:#121212;
	-light-color:#e8f0fe;
}

.brand{
	-fx-padding:24 0 24 0;
}

.button {
    -fx-background-color:-grey-color;   
    -fx-text-fill: black;        
    -fx-font-size: 1em;        
}

.exitBtn{
	-fx-background-color: -dark-color;
	-fx-border-color: -light-color;
	-fx-border-width: 2;
	-fx-border-style: solid;
	-fx-padding:5 10;
	-fx-text-fill:-light-color;
	-fx-cursor:hand;
	-fx-font-weight:600;
}
.usernameLabel{
	-fx-font-size:1em;
	-fx-text-fill:-light-color;
}


.msg{
	-fx-background-color:-dark-color;
	-fx-text-fill:-light-color;
	-fx-font-size:1.2em;
}
.boxStatsGame{
	-fx-pref-width:180;
}

.statsBox{
	-fx-background-color:-light-color;
	-fx-padding:16 0;
}
.msgBox{
	-fx-pref-height:64;
	-fx-alignment: center; 
}

.statsText{
	-fx-font-size:1.2em;
	-fx-text-fill:-dark-color; 
	-fx-font-weight: bold;
}

.statsValue{
	-fx-font-size:1.2em;
	-fx-text-fill:-dark-color;

}

.cell{
	-fx-border-color: black;
	-fx-pref-width: 32;
	-fx-pref-height: 32;
	-fx-border-radius:16;
}
.hint{
	-fx-border-color: -dark-color;
	-fx-text-fill:-dark-color;
	-fx-pref-width:120;
}

.hintText{
	-fx-text-fill:-dark-color;
	-fx-font-size:0.8em;	
}

.boxAttempts{
	-fx-background-color:-grey-color;
}
.attemptsArea{
	-fx-background-color:-light-color;
}
.grid-pane:focused {
    -fx-background-color: transparent; 
}
.scroll-pane:focused {
    -fx-background-color: transparent;
}


.titleLogin{
	-fx-font-size:1em;
	-fx-text-fill:white;
	-fx-padding:0 0 10 0;
}

.nameField{
	-fx-width:250;
	-fx-background-color:-dark-color;
	-fx-text-fill:-light-color;	
	-fx-alignment: center;
}

.statsLabel{
	-fx-font-size:1.2em;
	-fx-text-fill:-dark-color;
}

.containerStats{
	-fx-background-color: -light-color;
}

.btnMain{
	-fx-background-color: -dark-color;
	-fx-border-color: -light-color;
	-fx-border-width: 2;
	-fx-border-style: solid;
	-fx-padding:15 25;
	-fx-text-fill:-light-color;
	-fx-cursor:hand;
	-fx-font-weight:600;
}

.btnMain:hover{
	-fx-background-color:-light-color;
	-fx-text-fill:-dark-color;
}

.loginView{
	-fx-background-color:-dark-color;	
}

.username{
	-fx-text-fill:-light-color;
	-fx-font-size:1em;
	-fx-padding:10 0 0 0;	
}